.header{
    color: turquoise;
}
.about-info {
    text-align: justify;
    padding: 5px;
}
.about-info h3 {
    margin-top: 50px;
    text-transform: uppercase;
    color: black;
    font-weight: bolder;
}

.about-img {
    height: 400px;
}

.about-img2 {
    height: 300px;
}
.story {
    margin-top: 100px;
    margin-bottom: 100px;
}

.h2{
    font-size: 40px;
    font-weight: 800;
    margin-top: 60px;
    text-transform: uppercase;
}